body{

    background-image: url("https://i.ibb.co/SrLgVQs/1.png");
    text-align: center;
    color: white;
    text-shadow: black 1px 1px 1px;
    font-size: 20px;
    background-size: 1200px;
    *background-repeat: repeat;
    *background-color: red;
    
    }

    h1{
        font-size: 80px;
    }
    h2{
        font-size: 40px;
        text-shadow: black 2px 2px 0px;
    }
    #ingredientes{
        color: rgb(0, 0, 0);
        size: 10px 10px;
        text-shadow:rgba(0, 0, 0, 0.479) 1px 1px 1px;
        border: 1px white solid;
        border-color: white;
        border-radius: 10px;
        border-width: 3px;
        background:linear-gradient(to right,#33d624d0, #fdfdfdd5, #f10808be);
    }
    li .nav-item{
        text-align: center;
    }
    nav{
    background:linear-gradient(to right,#33d624b7, #fdfdfdad, #f1080886);
    text-shadow: none;  
    }
    a{
        color: whitesmoke;
        animation:ease-in;
        text-shadow: none;
    }
    span{
        color: red;
        border: red;
        text-shadow: none;
    }
    #muestraDePizzas img:hover{
        transform: scale(1.8);
        transition: all 1ms ease-out;
    }
    #muestraDePizzas img{
        transition: all 1ms ease-out;
    }
    #carouselExampleFade{
        transform: none;
        transition:none;
        size: 100px;
    }
    #PizzaWorld{
        color: silver;
        animation: ease-in;
        
    }
    #home{
        color: black;
        size: 10px;
        animation: ease-in;
    }
    #logo img{
        size: 15px 15px;
    }
    .navbar {
        position:relative;
        display: ruby;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-top: 0.5rem;
        padding-bottom: 0.3rem;
    }
    .form-text{
        color:  white;
        font-size: 12px;
    }
    .form-check-input{
        padding: 10px 10px 10px;
    }

@media (max-width: 700px){
    nav{
        position:relative;
        display: ruby;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-top: 0.5rem;
        padding-bottom: 0.3rem;
    }



    #logo{
        text-align: center;
        justify-content: center;
        margin: auto;
        padding-right: 50px;
        
    }


    body{
        text-align: center;
        display: block; 
        text-align: center;
        justify-content: center;
        margin: auto;
            
    }

    h1{
        font-size: 60px;
    }

    h3{
        font-size: 20px;
    }
    #muestraDePizzas img {
        display: block;
        justify-content: center;

    }

    #muestraDePizzas img{
        justify-content: center;
        text-align: center;
        margin: auto;
    }
    
}