{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
    <h1>PIZZA CON VEGETALES</h1>
    <h2></h2>
    <hr class="my-4">
    <img src="http://pizzahutantilles.fr/assets/images/pizza-panel-thumb.png" a alt="" width="270" height="270">
    <p><i>Ingredientes:</i></p>
    <p id="ingredientes">Morrones, Peperoni, Champiñones, Cebolla y Muzzarela</p>
    <a class="btn btn-dark btn-default" href='/leermas'id="botoncito" role="button">Volver al menú</a>
    
    </div>
{% endblock %}